:root {
	--primary-color: rgb(86, 199, 178);

	--background-color: rgba(96, 202, 183, 0.1);
	--text-color1: rgb(207, 207, 207);
	--text-color2: rgb(150, 150, 150);
	--decor-color: rgb(88, 88, 88);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px; /* set the root font-size */
	height: 100%;
}
body {
	background-color: #1e1e1e;
	font-family: 'Be Vietname Pro', 'Rubik', 'Roboto', 'Outfit', sans-serif;
	font-size: 1rem; /* 1rem = 16px */
	height: 100%;
}

.main {
	margin: 0 auto;
	max-width: 1600px;
	min-height: 100vh;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.main {
		margin: 0 auto;
		max-width: 90%;
		min-height: 100vh;
	}
	/* Experiences Section */
	.fixed-width {
		max-width: 700px;
	}
	.bh4 {
		width: 80%;
	}
}
@media (min-width: 768px) and (max-width: 1080px) {
	/* Project Section */
	.project-grid {
		grid-template-columns: repeat(2, 1fr);
		display: grid;
		grid-gap: 20px;
	}
	.project-card {
		padding: 25px 10px;
		height: 100%;
		width: 100%;
		max-width: 350px;
	}
}
@media (max-width: 886px) {
	.custom-about {
		flex-direction: column;
	}
	.col-8 {
		width: 100%;
		padding: 0 !important;
	}

	.col-4 {
		width: 50%;
		margin: 40px auto 0 auto !important;
	}
}
@media (min-width: 769px) {
	.offcanvas {
		display: none !important;
	}
}
@media (max-width: 768px) {
	.sm {
		display: none;
	}
	.bh4 {
		width: 90%;
	}
	.container-fluid > .mx-5 {
		margin: 0 30px !important;
	}
	.bh2 {
		font-size: 3.5rem !important;
	}
	.navbar > .container-fluid > .nav-link {
		display: none !important;
	}
	.burger {
		display: block !important;
	}
}
@media (min-width: 640px) and (max-width: 768px) {
	.main {
		margin: 0 auto;
		max-width: 95%;
		min-height: 100vh;
	}
	.project-grid {
		grid-template-columns: repeat(2, 1fr);
		display: grid;
		grid-gap: 20px;
	}
	.project-card {
		padding: 25px 10px;
		min-height: auto;
		width: 100%;
		max-width: 350px;
	}
}

@media (max-width: 640px) {
	.main {
		margin: 0 auto;
		max-width: 97%;
		min-height: 100vh;
	}
	.bh2 {
		font-size: 3rem !important;
	}
	.project-grid {
		grid-template-columns: repeat(1, 1fr);
		display: grid;
		grid-gap: 20px;
		margin: auto !important;
	}
	.project-card {
		padding: 25px 10px;
		min-height: auto;
		max-width: 100%;
	}
	.header::after {
		width: 70%;
	}
	.bh6 {
		font-size: 2.5rem !important;
	}
}

@media (max-width: 600px) {
	.header::after {
		width: 0%;
	}
	.container-fluid > .mx-5 {
		margin: 0 10px !important;
	}
}

@media (max-width: 550px) {
	.horizontal {
		display: block !important;
	}
	.fixed-width > .vertical {
		display: none !important;
	}
	.horizontal-scroll {
		min-width: 100%;
		overflow-x: auto;
		white-space: nowrap;
	}
	.fixed-width {
		padding: 0;
	}
	.col-4 {
		width: 70%;
		margin: 40px auto 0 auto !important;
	}
	.canvas-nav {
		font-size: 1.2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 15px 0;
	}
	.offcanvas {
		max-width: 80vw;
	}
}
@media (max-width: 414px) {
	.bh2 {
		font-size: 2rem !important;
		line-height: 2.75rem !important;
	}
	.bh6 {
		font-size: 2.5rem !important;
	}
	.view-more-btn,
	.btn-custom {
		font-size: 0.9rem !important;
	}
}
